.register-form__heading {
    margin-top: 100px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.register-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.register-form__form {
    width: 680px;
    border: 0;
}

.register-form__group {
    margin-bottom: 32px;
}

.register-form__label {
    display: block;
    margin-bottom: 8px;
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.register-form__input {
    display: block;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #BEB1A6;
    font-family: serif;

    width: 680px;
    height: 57px;
    top: 132.55px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #5F5F5F;
}

.register-form__error-message {
    color: #FF0000;
}

.register-form__btn {
    width: 680px;
    height: 65px;
    margin-top: 80px;
    left: 417px;
    border-radius: 5px;
    background: #FF5555;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.register__nav-href {
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.register__nav {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #0073CC;
}