html,
body {
    height: 100%;
}

body,
textarea,
input {
    color: #8B7969;
}

textarea::placeholder,
input::placeholder {
    color: #BEB1A6;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1512px;
    padding: 22px 0 24px 0;
    height: 82px;
    border: 1px solid #E0DFDE;
    text-align: center;
    font-family: serif;
    background-color: #000000;
}

.header__heading {
    width: 370px;
    height: 36px;
    background-image: url('../logo.png');
    background-position: 25px 0;
    padding-left: 25px;
}

.header__search {
    width: 565px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form__search::placeholder {
    color: #000000;
}

.header-form__search {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    text-align: start;
    vertical-align: middle;
}

.header__link {
    width: 463px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form__link,
.header__link-mypage {
    margin: 0 auto;
    width: 135px;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

    text-align: center;
    vertical-align: middle;
}

.header__link-rect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-right: 26px;
    border-radius: 4px;
    background: #FFFFFF;
}

.header__link-sell {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 48px;
}

.content__heading {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    font-family: serif;
}

/* ボタン */
.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #82756A;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    border: 1px solid #E0DFDE;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #8B7969;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #8B7969;
    background-color: #8B7969;
    color: #FFF;
}