html,
body {
    height: 100%;
}

body,
textarea,
input {
    color: #8B7969;
}

textarea::placeholder,
input::placeholder {
    color: #BEB1A6;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    padding: 22px 0 24px 0;
    border: 1px solid #E0DFDE;
    text-align: center;
    font-family: serif;
    background-color: #000000;
}

.header__heading {
    background-image: url('../logo.png');
    width:380px;
    height: 46px;
    background-position: 25px 0;
    padding-left: 25px;
    background-size:90%;
    vertical-align: middle;
    background-position: 30px 10px;
}


@media screen and (max-width: 1400px) {
.header {
    height: 82px;
}

.header__heading {
    width:380px;
    height: 46px;
    background-size:90%;
    vertical-align: middle;
    background-position: 30px 10px;
}
}

@media screen and (max-width: 800px) {
.header {
    height: 62px;
}

.header__heading {
    width:300px;
    height: 30px;
    background-size:90%;
    vertical-align: middle;
    background-position: 30px 0px;
}
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 48px;
}

.content__heading {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    font-family: serif;
}

/* ボタン */
.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #82756A;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    border: 1px solid #E0DFDE;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #8B7969;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #8B7969;
    background-color: #8B7969;
    color: #FFF;
}