.profile-form {
    width: 1512px;
}

.profile-form__heading {
    margin-top: 63px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.profile-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.profile-form__form {
    width: 680px;
    border: 0;
}

.profile-form__group-image {
    display: flex;
    justify-content: flex-start;
}

.profile-card__image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: url('../circleimage.png');
}

.profile-card__image-name {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
}

.profile-form__imagefile {
    width: 179px;
    height: 49px;
    border: 2px solid #FF5555;
    border-radius: 10px;

    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF5555;
    margin-left: 40px;
    cursor: pointer;
}

.profile-form__filename {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.profile-form__group-name {
    margin-top: 82px;
}

.profile-form__label {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.profile-form__input-name {
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}

.profile-form__input {
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    color: #5F5F5F;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
}

.profile-form__group {
    margin-top: 68px;
}

.profile-form__label {
    display: block;
    margin-bottom: 8px;
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.profile-form__error-message {
    color: #FF0000;
}

.profile-form__btn {
    width: 680px;
    height: 65px;
    margin-top: 80px;
    left: 417px;
    border-radius: 5px;
    background: #FF5555;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.profile__nav-href {
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.profile__nav {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #0073CC;
}