@media screen and (max-width: 1400px) {
    .header__heading {
    width:380px;
    background-size:90%;
}

.header-form__search {
    width: 500px;
    font-size:24px;
}

.header__link {
    width:480px;
}

.header-form__link {
    width:100px;
    font-size:24px;
}

.header__link-mypage {
    width: 135px;
    font-size:24px;
}

.header__link-sell {
    font-size:24px;
}

.purchase-card__title {
    font-size: 45px;
}

.purchase-card__title-method {
        font-size: 30px;
}

.purchase-card__title-price span {
    font-size: 27px;
}
.item__purchase-btn {
    font-size: 26px;
}

.purchase-method-title,
.purchase-address-title,
.purchase-price-title ,
.purchase-price-card-title-price ,
.purchase-method__card-title2,
.purchase-method__card-title-method {
    font-size: 24px;
}

.purchase-lower-up-right,
.purchase-address-change-btn,
.purchase-address-card div ,
.purchase-price-card-title-price span {
    font-size: 20px;
}

.purchase-left-area {
    width: 50%;
    height: auto;
    margin: 95px 51px 0px 80px;
}

.purchase-right-area {
    width: 442px;
    height: auto;
    margin: 95px 62px 95px 51px;
}

.purchase-lower {
    width: 700px;
    margin: 1px 51px 20px 80px;
}

.purchase-lower-up {
    width: 700px;
    display: flex;
    justify-content: space-between;
}
}


@media screen and (max-width: 800px) {

.header-form__search {
    width: 200px;
    font-size:16px;
}

.header__heading {
    width:240px;
    background-size:90%;
}

.header__link {
    width: 300px;
}
.header-form__link {
    width:80px;
    font-size:16px;
}

.header__link-sell {
    font-size: 18px;
}

.header__link-mypage {
    font-size:16px;
}

.purchase-card__title {
    font-size: 22px;
}

.purchase-card__title-method {
        font-size: 15px;
}

.purchase-card__title-price span {
    font-size: 13px;
}
.item__purchase-btn {
    font-size: 13px;
}

.purchase-method-title,
.purchase-address-title,
.purchase-price-title ,
.purchase-price-card-title-price ,
.purchase-method__card-title2,
.purchase-method__card-title-method {
    font-size: 12px;
}

.purchase-lower-up-right,
.purchase-address-change-btn,
.purchase-address-card div ,
.purchase-price-card-title-price span {
    font-size: 10px;
}

.purchase-left-area {
    width: 50%;
    height: auto;
    margin: 95px 25px 0px 40px;
}

.purchase-right-area {
    width: 238px;
    height: auto;
    margin: 95px 31px 95px 25px;
}

.purchase-lower {
    width: 374px;
    margin: 1px 25px 20px 40px;
}

.purchase-lower-up {
    width: 374px;
    display: flex;
    justify-content: space-between;
}

.purchase-lower-up-left {
    width: 50%;
}
}

.purchase-all {
    height: auto;
    display: flex;
    justify-content: space-between;
}


.product-detail {
    width: 100%;
    height: 220px;
    display: flex;

}

.product__image-area {
    width: 178px;
    height: 200px;
    margin-right: 55px;
}

.product__image-card {
    width: 178px;
    height: 178px;
}

.product__description-area {
    width: 50%;
}

.product__description-card {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 200px;
}

.product__description-card-title {

    height: 200px;
}

.purchase-card__title {
    display: block;
    color: #000000;
    font-family: Inter;
    line-height: 100%;
}

.purchase-card__title-name {
    font-weight: 700;
    line-height: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
}


.purchase-card__title-method {
    font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
    margin-bottom: 26px;
}


.purchase-method {
    width: 326px;
    height: 190px;
    margin: 34px 35px;
}

.purchase-method-card-title {
    width: 326px;
    height: 85px;
    margin: 0 auto 11px auto;
}

.purchase-method-title {
    font-family: Inter;
    font-weight: 700;
    line-height: 100%;
    color: #000000;

}

.purchase-method-card-select {
    width: 326px;
    height: 85px;
    display: flex;
    justify-content: flex-end;
}

.purchase-method-select {
   position: relative;
    display: inline-block;
}

.purchase-method-select select {
    /* デフォルトの矢印を消す */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* サイズやフォントなどのスタイルを調整 */
    width: 265px;
    height: 31px;

    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.purchase-method-select::after {
  content: '▼'; /* ここに好きな記号を指定 */
  font-size: 10px;
  color: #5F5F5F;
  position: absolute;
  top: 35%;
  right: 12px;
  transform: translateY(-50%);
  /* 矢印部分がクリックできないようにする */
  pointer-events: none;
}


.purchase-lower-up-right {
    width: 100px;
    height: 100px;
    margin: 35px 40px 1px 40px;

    font-family: Inter;
    font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
    color:#0073CC
}

.purchase-address {
    width: 35%;
    height: 190px;
}

.purchase-address-card-title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: middle;
    text-align: center;
    margin: 0 auto 11px auto;
}


.purchase-address-title {
    font-family: Inter;
    font-weight: 700;
    line-height: 100%;
    color: #000000;
    text-align:center;
}

.purchase-address-change-btn {
    width: 115px;
    height: 20px;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;

    color: #0073CC;
}
.purchase-address__card {
    width: 100%;
    height: 190px;
    margin: 35px 35px 1px 35px;
    display: flex;
    justify-content: flex-start;
}

.purchase-address-card div{
    width: 400px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    line-height: 100%;
    vertical-align: middle;
    text-align:left;
    color: #000000;
    margin-left: 50px;
}



.purchase-card-confirm {
    width: 100%;

}

.purchase-price-card {
    width: 100%;
    height: 115px;
    border: 1px solid #000000;
    display: flex;
    justify-content:center;
}

.purchase-price-card-title {
    width: 220px;
    height: 115px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.purchase-price-title {
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    line-height: 100%;
    color: #000000;
}

.purchase-price-card-title-price {
     font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
}


.purchase-method__card {
    width: 100%;
    height: 115px;
    border-left: 1px solid #000000; 
    border-right: 1px solid #000000; 
    border-bottom: 1px solid #000000; 
    display: flex;
    justify-content:center;

}

.purchase-method__card-title {
    width: 220px;
    height: 115px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.purchase-method__card-title2 {
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    line-height: 100%;
    color: #000000;
}

.purchase-method__card-title-method {
    font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
}

.item__purchase-area {
    width: 100%;
    height: 60px;
}

.item__purchase-btn {
    width: 100%;
    height: 60px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #FF5555;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 65px;
}

.form__error {
    color: #FF0000;
}